body {
  margin: 0;
  color: #555555;
  font-family: sans-serif;
}

.banner {
  background-color: #0070cd;
  color: yellow;
  height: 35px;

  span {
    display: block;
    text-align: center;
    font-weight: bold;
    line-height: 35px;
    font-size: 0.8em;
  }
}


nav {
  background-color: #f2f2f2;
  height: 38px;
}
.stores {
  list-style: none;
  max-width: 400px;
  margin: 0;

  li {
    display: inline-block;
    height: 38px;
    border-left: 0.5px rgba(1,1,1,0.2) solid;
    // get rid of default 4px between ul list items
    float: left;
    width: 30%;
  }

  .carters-logo {
    background-color: white;
  }
  img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    padding-top: 5px;
    margin: auto;
  }

}

.nav {
  list-style: none;
  display: inline-block;
  float: right;
  margin: 0;

  li {
    display: inline-block;
    margin: 0.5em;
    width: 35px;

    img {
      max-width: 100%;
      max-height: 100%;
      width: 20px;
      display: inline-block;
    }

    .down {
      width: 9px;
    }
  }
}

.credits {
  position: absolute;
  bottom: 0;
}

.main-logo {
  width: 220px;
  margin: 0 auto;
}

.main-header {
  display: inline-block;
  margin: 2em;
  text-align: center;
  width: 95%;
}

.flag {
  float: left;
  height: 35px;
  margin-top: 1em;
}

.search {
  float: right;
  margin-top: 1em;
  line-height: 35px;
}

.sizes {
  ul {
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 2em;

    h6 {
      margin: 0;
      font-weight: bold;
    }

    span {
      font-size: 0.8em;
    }

    .new {
      color: orange;
      font-size: 0.6em;
    }
  }
}
